<div style="background-color: #e2e8f0; color: #242429">
  <div style="max-width: 600px; margin: 0 auto; padding: 1rem">
    <div style="font-size: 1.5rem; background-color: #4adb3798; padding: 1rem">
      <h2 style="text-align: center">¡Reserva realizada con éxito!</h2>
    </div>

    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      "
    >
      <div style="width: 50%">
        <p><strong>Nombre completo:</strong> <em>{{fullName}}</em></p>
        <p><strong>Correo electrónico:</strong> <em>{{email}}</em></p>
        <p><strong>Espacio de coworking:</strong> <em>{{spaceName}}</em></p>
      </div>
      <div style="width: 50%">
        <p><strong>Dirección:</strong> <em>{{spaceAddress}}</em></p>
        <p><strong>Fecha de inicio:</strong> <em>{{startDate}}</em></p>
        <p><strong>Fecha de fin:</strong> <em>{{endDate}}</em></p>
      </div>
    </div>

    <div style="text-align: center">
      <p style="font-size: 1.5rem">
        <strong>Total:</strong>
        <em>{{price}}€</em>
      </p>
    </div>
  </div>
</div>
